@import "colors.css";

*{
	font-family: "JetBrains Mono Nerd Font";
	font-weight: bold;
	min-height: 0;	
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 0.75rem;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}
	
window#waybar {
	background:transparent;
	border-radius: 1px;
	color: @on_surface;

}
	
window#waybar.empty {
	background-color: transparent;
}
	
window#waybar.empty #window {
   padding: 0px;
   border: 0px;
   background-color: transparent;
}
	   
tooltip {
	/* background: #1e1e2e; */
	/* border-radius: 10px; */
	/* border-width: 2px; */
	/* border-style: solid; */
	/* border-color: #11111b; */
	/* color: #cba6f7; */
}

/*-----module groups----*/
.modules-right {
	
}

.modules-center {
		
}

.modules-left {
	   
}

#workspaces button {
	margin: 0.5rem 0.5rem;
	border: none;
   	border-radius: 15px;
	background-color: @primary;
	color: #121212;
	transition: all 200ms linear;
	background: @primary_container;
	color: @on_primary_container;
}

#workspaces button.active {
	padding-left: 16px;
	padding-right: 16px;
   	transition: all 200ms linear;
}

#workspaces button.focused {
	background-color: @primary-container;
}
  
#clock,
#battery,
#pulseaudio,
#disk,
#memory,
#cpu,
#network {
	padding: 0 10px;
	border-radius: 20px;
	margin: 0.5rem 0.5rem;
	background-color: @primary_container;
	color: @on_primary_container;
}
	 
#temperature.critical {
	background-color: #ff0000;
}
   
#taskbar button {
	margin: 0.5rem 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  text-shadow: none;
  border-radius: 15px;
	background-color: @primary_container;
	color: @on_primary_container;
}

#taskbar button.active {
	background-color: @primary;
}
	   
#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;  
	min-height: 10px; 
	border-radius: 5px;
	background-color: @primary;
}

#pulseaudio-slider highlight {
	min-height: 10px; 
	border-radius: 5px;
	background-color: @secondary;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;  
	min-height: 10px;
	border-radius: 5px;
	background-color: black;
}

#backlight-slider highlight {
	min-width: 10px; 
	border-radius: 5px;
	background-color: wheat;
}
