name: BC Test
run-name: 'BC Test on ${{ github.ref_name }}@${{ github.sha }}'
on:
  workflow_dispatch:
    inputs:
      skip_jobs:
        description: 'Comma-separated list of job names to skip'
        required: false
        default: ''

jobs:

  # Cluster 1
  xpedaus:
    if: ${{ !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpedaus') }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpetrpd:
    if: ${{ !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpetrpd') }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpeprdt:
    if: ${{ !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpeprdt') }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpedata:
    if: ${{ !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpedata') }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"

  # Cluster 2
  xpesrch:
    needs: [xpedaus, xpetrpd, xpeprdt, xpedata]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpesrch') 
        && (needs.xpedaus.result == 'success' || needs.xpedaus.result == 'skipped') 
        && (needs.xpetrpd.result == 'success' || needs.xpetrpd.result == 'skipped') 
        && (needs.xpeprdt.result == 'success' || needs.xpeprdt.result == 'skipped') 
        && (needs.xpedata.result == 'success' || needs.xpedata.result == 'skipped')
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"

  xpeijob:
    needs: [xpedaus, xpetrpd, xpeprdt, xpedata]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpeijob') 
        && (needs.xpedaus.result == 'success' || needs.xpedaus.result == 'skipped') 
        && (needs.xpetrpd.result == 'success' || needs.xpetrpd.result == 'skipped') 
        && (needs.xpeprdt.result == 'success' || needs.xpeprdt.result == 'skipped') 
        && (needs.xpedata.result == 'success' || needs.xpedata.result == 'skipped')
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpebook:
    needs: [xpedaus, xpetrpd, xpeprdt, xpedata]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpebook') 
        && (needs.xpedaus.result == 'success' || needs.xpedaus.result == 'skipped') 
        && (needs.xpetrpd.result == 'success' || needs.xpetrpd.result == 'skipped') 
        && (needs.xpeprdt.result == 'success' || needs.xpeprdt.result == 'skipped') 
        && (needs.xpedata.result == 'success' || needs.xpedata.result == 'skipped')
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"

  # Cluster 3
  xpedisc:
    needs: [xpesrch, xpeijob, xpebook]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpedisc') 
        && (needs.xpesrch.result == 'success' || needs.xpesrch.result == 'skipped') 
        && (needs.xpeijob.result == 'success' || needs.xpeijob.result == 'skipped') 
        && (needs.xpebook.result == 'success' || needs.xpebook.result == 'skipped') 
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpeops:
    needs: [ xpesrch, xpeijob, xpebook ]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpeops') 
        && (needs.xpesrch.result == 'success' || needs.xpesrch.result == 'skipped') 
        && (needs.xpeijob.result == 'success' || needs.xpeijob.result == 'skipped') 
        && (needs.xpebook.result == 'success' || needs.xpebook.result == 'skipped') 
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"

  # Cluster 4
  xpepapi:
    needs: [xpedisc, xpeops]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpepapi') 
        && (needs.xpedisc.result == 'success' || needs.xpedisc.result == 'skipped') 
        && (needs.xpeops.result == 'success' || needs.xpeops.result == 'skipped') 
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
  xpetool:
    needs: [xpedisc, xpeops]
    if: ${{
        !failure()
        && !cancelled()
        && !contains(fromJson(format('[{0}]', github.event.inputs.skip_jobs)), 'xpetool') 
        && (needs.xpedisc.result == 'success' || needs.xpedisc.result == 'skipped') 
        && (needs.xpeops.result == 'success' || needs.xpeops.result == 'skipped') 
      }}
    runs-on: ubuntu-latest
    steps:
    - name: Building
      run: sleep 10 && echo "Finished building"
